{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <div class="row border border-dark">
        {% for image in article.images %}

            <div class="d-flex flex-column justify-content-center align-items-center">
                <img style="width: 300px" src="{{ vich_uploader_asset(image, 'imageFile') }}">
                <img src="{{ asset( vich_uploader_asset(image, 'imageFile') ) | imagine_filter('thumb') }}" />
                <a href="{{ path('suppr_image', {id:image.id}) }}" class="btn btn-danger">X</a>
            </div>


        {% endfor %}


    </div>

    <div class="border-border-dark">

        {{ form_start(imageForm) }}
        {{ form_widget(imageForm.imageFile) }}
        <button class="btn btn-primary" type="submit">OK</button>
        {{ form_end(imageForm) }}
    </div>



    <div class="row border border-dark m-3">
        <p><small>author : {{ article.author.username }}</small></p>
        <h3>{{ article.name }}</h3>
        <p>{{ article.content }}</p>
        <a href="{{ path('app_article') }}" class="btn btn-secondary">Retour</a>

    </div>








{% endblock %}
