{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="border border-dark">

    <div class="border border-dark m-5 d-flex">

        {% for image in article.images %}
        <div>
            <img width="300px" src="{{ vich_uploader_asset(image, 'imageFile')| imagine_filter('my_thumb') }}" alt="">
            <a href="{{ path('image_article_suppr', {id:image.id}) }}" class="btn btn-danger">Suppr</a>
        </div>

        {% endfor  %}
    </div>


    {{ form_start(imageForm, {'action': path('add_image_to_article', {id:article.id})  }) }}
{{ form_widget(imageForm.imageDropFile) }}
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(imageForm) }}

</div>



    <div class="row border border-dark m-3">
        <p><small>author : {{ article.author.username }}</small></p>
        <h3>{{ article.name }}</h3>
        <p>{{ article.content }}</p>
        <a href="{{ path('app_article') }}" class="btn btn-secondary">Retour</a>
        <a href="{{ path('edit_article', {id:article.id}) }}" class="btn btn-warning">Edit</a>
        <a href="{{ path('delete_article', {id:article.id}) }}" class="btn btn-danger">Delete</a>
    </div>

    <div class="border border-dark">
        {% for comment in article.comments %}

            <div class="row border-border-dark">
                <p><small>author: {{ comment.author.username }}</small></p>
                <p><strong>{{ comment.content }}</strong></p>
            </div>


        {% endfor %}

        {%include 'comment/comment.html.twig' %}


    </div>




{% endblock %}
